@media (max-width: 767px) {
    .title{
        font-size: 60px;
    }
    .suptitle{
        font-size: 50px;
    }
}

@media (max-width: 575px) {
    body{
        font-size: 14px;
    }
    .title{
        font-size: 50px;
    }
    .suptitle{
        font-size: 40px;
    }
    .navbar-brand{
        width: 50px;
    }
}