@media (max-width: 991px) {
    .navbar-collapse{
        padding-bottom: 30px;
    }
    .hidden-text{
        font-size: 100px;
    }
    .slider__item{
        margin: 0;
    }
}


@media (max-width: 767px) {
    .title{
        font-size: 60px;
    }
    .suptitle{
        font-size: 50px;
    }
    .mobile-img{
        display: block;
    }
    .desktop-img{
        display: none;
    }
    .slider__item{
        padding: 30px 20px;
    }
}

@media (max-width: 575px) {
    body{
        font-size: 14px;
    }
    .title{
        font-size: 50px;
    }
    .suptitle{
        font-size: 40px;
    }
    .navbar-brand{
        width: 50px;
    }
    .header{
        .nav-item{
            font-size: 16px;
        }
        .order{
            padding: 10px 15px;
        } 
    }
    .subtitle{
        font-size: 16px;
    }
    .hidden-text{
        font-size: 60px;
    }
    .slider__item{
        padding: 20px 10px;
    }
    .reviews{
        padding-bottom: 100px;
    }
}