@import "vars";
@import "libs";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  z-index: 1;
}
body {
  font-family: $font2;
  font-family: $font1;
  font-size: 16px;
  height: 2000px;
}
// h1,
// h2,
// h3,
// h4,
// h5,
// h6,
// p,
// span,
ul,
li {
  margin: 0;
}
li {
  list-style: none;
}
// input,
button {
  border: none !important;
  outline: none !important;
}
// button {
//   cursor: pointer;
// }
// a {
//   color: inherit;
//   text-decoration: none;
// }

//header
.header {
  position: fixed;
  width: 100%; 
  background: transparent;
  z-index: 99;
  transition: .5s;
  font-family: $font2;
  .nav-item a::after{
    content: '';
    display: block;
    width: 100%;
    background-color: $navbar-light-color;
    height: 1px; 
    transform: scale(0);
    transition: all .3s;
  }
  .nav-item a:hover::after{
    transform: scale(1);
  }
  .nav-item a.active-link::after{
    content: '';
    display: block;
    width: 100% ;
    background-color: $green;
    height: 1px;
    transform: scale(1);
    transition: all .3s;
  }
  .nav-item:hover a::after{
      background: $green ;
    }
  .nav-item:last-child a::after{
    display: none;
  }
}
.progress-container{
  display: none;
}
.scroll{
  background-color: $white;
  box-shadow: 4px 0 20px -5px rgba(0, 0, 0, 0.2);
  transition: .5s;
  .navbar .navbar-nav .nav-item .nav-link{
    color: $green;
  }
  .logo{
    display: none;
  }
  .logo2{
    display: block;
  }
  .navbar-light .navbar-toggler-icon{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='%2388b44e' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }
  .progress-container {
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 5px;
    background: transparent;
  }
  
  .progress-bar {
    height: 5px;
    background: $green;
    width: 0%;
  }
}


.scroll2{
  background-color: $white;
  -webkit-box-shadow: 0px 9px 9px -4px rgba(0,0,0,0.68); 
  box-shadow: 0px 9px 9px -4px rgba(0,0,0,0.68);
  transition: .5s;
  .navbar .navbar-nav .nav-item .nav-link{
    color: $green;
  }
  .logo{
    display: none;
  }
  .logo2{
    display: block;
  }
  .navbar-light .navbar-toggler-icon{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='%2388b44e' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }
}
.logo2{
  display: none;
}
.navbar-nav{
  align-items: center;
}
.logo2{
  display: none;
}
.navbar-nav{
  align-items: center;
}

.navbar-brand {
  cursor: pointer;
  width: 70px;
  img {
    width: 100%;
  }
}

//hero-section
.hero-section {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  background-image: url(../images/slider-leafs.png);
  background-position: center;
  background-size: cover;
  height: calc(var(--vh, 1vh) * 100);
}
.header-slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  .carousel-inner {
    height: 100%;
    &::before {
      content: "";
      position: absolute;
      background-color: black;
      opacity: 0.4;
      width: 100%;
      height: 100%;
      z-index: 2;
    }
  }
  .carousel-item {
    height: 100%;
    img {
      height: 100%;
      width: 100%;
    }
  }
  
}
.mobile-img{
    display: none;
}
@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(1, 1);
  }
  to {
    -webkit-transform: scale(1.3, 1.3);
  }
}
@keyframes zoom {
  from {
    transform: scale(1, 1);
  }
  to {
    transform: scale(1.3, 1.3);
  }
}
.header-slider .carousel-item > img {
  -webkit-animation: zoom 20s;
  animation: zoom 20s;
}
.images {
  background-color: #fff;
}
.suptitle {
  color: $white;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
}
h1 {
  font-size: 72px;
  font-style: italic;
  font-weight: bolder;
  color: $green;
  margin-bottom: 25px;
  text-align: center;
}
.subtitle {
  color: $white;
  text-align: center;
  margin-bottom: 25px;
  font-family: $font2;
  font-size: 20px;
  padding: 0 30px;
}
.order {
  font-family: $font2;
  padding: 15px 30px;
  background-color: $green;
  color: $white;
  border-radius: 50px;
  font-weight: 700;
  &:hover {
    background-color: $white;
    color: $black;
  }
}



.follow-us{
  position: absolute;
  left: 60px;
  top: 48%;
  transform: translateY(-50%);
  width: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.follow-text{
  position: relative;
  transform: rotate(270deg) translateX(-50%) translateY(-50%);
  color: $green;
  font-size: 14px;
  display: block;
  white-space: nowrap;
  margin-right: -20px;
  margin-top: 30px;
  &::before{
    content: "";
    display: inline-block;
    position: absolute;
    right: -40px;
    top: 50%;
    width: 30px;
    height: 1px;
    background-color: $green;
  }
}
.social-icons__item{
  width: 18px;
  margin-bottom: 10px;
  &:hover{
    svg{
      fill: $green;
    }
  }
  svg{
    width: 100%;
    height: 100%;
    fill: $white;
  }
}


//about-product
.about-product {
  background-color: #f5f8f2;
  img {
    width: 100%;
  }
}
.heading-wrapper{
  padding: 80px 0;
  position: relative;
}
.heading {
  position: relative;
  text-align: center;
  margin-bottom: 0px;
  font-size: 36px;
  z-index: 2;
  color: $black;
}
.sub-heading {
  position: relative;
  text-align: center;
  margin-bottom: 10px;
  color: $green;
  font-style: italic;
  font-weight: 700;
  font-size: 16px;
  z-index: 2;
}
.hidden-text{
  position: absolute;
  font-size: 150px;
  opacity: 0.03;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}
.more-btn{
  display: flex;
  align-items: center;
  padding: 15px 35px;
  border-radius: 50px;
  background: $black;
  color: $white;
  font-size: 14px;
  margin: 0 auto;
  margin-bottom: 50px;
  transition: all 0.3s ease;
  outline: none;
  &:hover{
    background: $green;
    transition: all 0.3s ease;
    .arrow{
      background: $black;
      transition: all 0.3s ease;
      svg{
        fill: $green;
      }
    }
  }
}
.arrow{
  width: 15px;
  height: 15px;
  display: flex;
  transform: rotate(90deg);
  background: $green;
  padding: 3px;
  border-radius: 50%;
  margin-left: 10px;
  transition: all 0.3s ease;
  svg{
    width: 100%;
    fill: $black;
  }
}
.video{
  background-image: url(../images/video-bg.png);
  background-color: $green;
  background-position: center;
  padding: 120px 0;
  .tea-video{
    height: 500px;
  }
}




//reviews
.reviews{
  position: relative;
  background-color: $white;
  background: url(../images/testimonials_parallax.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  padding-bottom: 200px;
  .heading{
    color: $white;
  }
  .hidden-text{
    color: $white;
  }
  &::before{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: $black;
    opacity: 0.6;

  }
}
.slider__item{
  background-color: $white;
  // max-width: 70%;
  margin: 0 100px;
  padding: 30px 50px 40px;
}
.swiper-container{
  .customer-name{
    font-size: 18px;
    color: $green;
  }
  .customer-country{
    font-size: 14px;
    font-family: $font2;
    font-weight: bold;
  }
  .customer-review{
    margin-top: 20px;
    font-style: italic;
  }
}
.swiper-pagination{
  position: relative;
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
  height: 100px;
  .swiper-pagination-bullet {
    width: 50px;
    height: 50px;
    font-size: 0;
    background-position: center;
    background-size: cover;
    transition: .1s;
    background-color: transparent;
    opacity: 1;
    border: none;
    outline: none;
    margin: 0 8px;
    &:first-child{
      background-image: url(../images/author1.png);
    }
    &:nth-child(2){
      background-image: url(../images/author2.png);
    }
    &:nth-child(3){
      background-image: url(../images/author3.png);
    }
    &:last-child{
      background-image: url(../images/author4.png);
    }
  }
  .swiper-pagination-bullet-active {
    width: 80px;
    height: 80px;
    transition: .1s;
    border: none;
    outline: none;
  }
}





//about-us
.about-us{
  padding-top: 30px;
  height: 1000px;
}




//form
.form{
  background-color: #f5f8f2;
  padding: 100px 0;
}
.form-control{
  height: auto;
  padding: 20px 30px;
  border-radius: 50px;
  font-family: $font2;
  &:focus{
    border-color: $green;
    box-shadow: 0px 0px 4px 0px $green;
  }
}





//footer
.footer{
  padding: 40px 0;
  background-color: $black;
  color: $white;
}
.social__list{
  display: flex;
  justify-content: flex-end;
  &-item{
    margin-left: 10px;
    a{
    display: flex;
    width: 50px;
    height: 50px;
    background-color: $green;
    padding: 15px;
    border-radius: 50%;
    transition: all 0.3s ease 0s;
      &:hover{
        background-color: $white;
        transition: all 0.3s ease 0s;
        svg{
          fill: $black;
        }
      }
    }

    svg{
      width: 100%;
      height: 100%;
      fill: $white;
    }
  }
}

.back-to-top{
  position: fixed;
  width: 40px;
  height: 40px;
  right: 15px;
  bottom: 15px;
  padding: 10px;
  background: $green;
  border-radius: 50%;
  display: none;
  box-shadow: 0px 0px 6px 0px #000000;
  svg{
    width: 100%;
    fill: $white;
    vertical-align: baseline;
  }
}

@import "media";