$green: #88b44e;
$white: #fff;
$black: #000;
$font2: "Roboto", sans-serif;
$font1: "Playfair Display", serif;




//bootstrap
$navbar-light-color: #fff;
$navbar-nav-link-padding-x: 2rem;
$navbar-light-hover-color: $green;
// $navbar-light-color: #88b44e;
.navbar-light .navbar-toggler{
    border: none;
    outline: none;
}
.navbar-light .navbar-toggler-icon{
    
}

// $navbar-light-toggler-icon-bg:      url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'><path stroke='#88b44e' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>") !default;
