//about-us
.about-us {
  padding-top: 30px;
  img {
    width: 100%;
  }
}
.juncao__start {
  background-color: $green;
  &-text {
    padding: 80px 30px;
    font-family: $font2;
    text-align: center;
    color: $white;
  }
}

.problem__decision-section {
  background: linear-gradient(to right, $black 50%, $green 50%);
  .div {
    padding: 50px 30px;
    font-family: $font2;
    svg {
      width: 80px;
      fill: #fff;
      height: 80px;
      display: block;
      margin: 0 auto;
      margin-bottom: 40px;
    }
  }
}

.advice__text {
  padding: 60px;
  font-style: italic;
  font-size: 24px;
  font-weight: 700;
}

form {
  .more-btn {
    margin-bottom: 0;
  }
}
